<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038863052573-o4d8vrqg37q8afo3f4djcnv0su6jo8rn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038863052573-o4d8vrqg37q8afo3f4djcnv0su6jo8rn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1038863052573-706m6qfuthucelhbn5dfu8e1ittb282n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBme8JWQSeFgeCJFpCwi3Eu_eT97EjA-fM</string>
	<key>GCM_SENDER_ID</key>
	<string>1038863052573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockteki.oneshot</string>
	<key>PROJECT_ID</key>
	<string>coffeeortea-65f67</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeortea-65f67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038863052573:ios:7d4ab04aa1374ad5803bf4</string>
</dict>
</plist>